@import 'https://fonts.googleapis.com/css?family=Open+Sans';

*, button, input {
	font-family: 'Open Sans', sans-serif;
	box-sizing: border-box;
}

[lang=fr] [langFR] { font-size: 0 }
[lang=fr] [langFR]:after { content: attr(langFR);font-size: initial }

[lang=en] [langEN] { font-size: 0 }
[lang=en] [langEN]:after { content: attr(langEN);font-size: initial }

body {
    margin: 0;
    background: #fafafa;
}
select {
    border: none;
    background: url(data:image/svg+xml;charset=utf-8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgaGVpZ2h0PSIzMiIgaWQ9ImNoZXZyb24tdXAiIHZpZXdCb3g9IjAgMCAzMiAzMiIgd2lkdGg9IjMyIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIHN0eWxlPSJmaWxsOiNmNTZiMmEiIGQ9Ik0xIDIwIEwxNiA2IEwzMSAyMCBMMjcgMjQgTDE2IDE0IEw1IDI0IHoiLz48L3N2Zz4=) no-repeat center right;
    -webkit-appearance: none;
    font-size: 1em;
    background-size: 12px 12px;
    outline: none;
    cursor: context-menu;
    padding: 0 20px 0px 5px;
    background-position-x: calc(100% - 4px);
}
    option[value=""] {
        color: grey;
    }
button {
    background: white;
    color: currentColor;
    border: 1px solid;
    outline: none;
    text-transform: uppercase;
    font-size: 0.9em;
    padding: 0.3em 1.3em;
    font-weight: bold;
    transition: all .3s ease-out;
    border-radius: 4px;
}
    button:hover, button.selected {
        background: currentColor;
    }
	    button:hover > *, button.selected > * {
		    color: white;
		}
    button.important {
        box-shadow: inset 0 0 0px 2px;
    }
    button.important:hover {
        box-shadow: inset 0 0 0px 2px white;
    }
nav {
    position: fixed;
    width: 150px;
    top: -20px;
    bottom: -20px;
    background: currentColor;
    box-shadow: inset -5px 0 10px rgba(0,0,0,0.3);
    /*z-index: 1;*/
}
    nav .logo {
	    width: 220px;
	    margin: -6px 0 0px -40px;
	    opacity: 0.8;
    }
    nav button {
        background: none;
        border: none;
        color: white;
        width: 100%;
        padding: 0.3em;
        border-radius: 0;
        text-shadow: 0 1px 1px black;
    }
        nav button:hover, nav button.selected {
            background: #fafafa;
            color: currentColor;
            box-shadow: -8px 5px 10px rgba(0,0,0,0.3);
            text-shadow: 0 0 0;
        }
    nav hr {
        border-bottom: none;
        border-top: 1px dashed rgba(255,255,255,0.3);
    }
    nav ul {
        list-style: none;
        padding: 0;
    }
    nav button#schemasBtn {
	    position: absolute;
	    width: 100%;
	    bottom: 50px;
	    border-top: 1px dashed rgba(255,255,255,0.3);
	}
    nav button#settingsBtn {
    	position: absolute;
    	width: 100%;
    	bottom: 20px;
    	border-top: 1px dashed rgba(255,255,255,0.3);
    }
window {
    position: fixed;
    display: flex;
	min-width: 300px;
    min-height: 250px;
    background: #fafafa;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    border: 1px solid;
    transition: all 0.3s ease;
}
    window > header {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 2.5em;
        box-shadow: 0 0 20px rgba(0,0,0,0.2);
        background: white;
        overflow: hidden;
        padding: 5px 15px;
        z-index: 1;
    }
        window > header h1 {
            color: #1a1a1a;
            margin: 0;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            width: 100%;
            font-size: 1.2em;
        }
        window > header span { color: grey; }
		window > header > controls {
	        position: absolute;
		    right: 0;
		    top: 0;
		    height: 2em;
		    z-index: 10;
		    display: flex;
		    font-size: 1.2em;
		}
			window > header > controls > button {
			    border: none;
			    height: 2em;
			    width: 2em;
			    border-radius: 0;
			    padding: 0;
			}
    window > .content {
        position: absolute;
        top: 110px;
        bottom: 50px;
        width: 100%;
        padding: 15px;
        overflow: auto;
    }
    window > footer {
        order: -1;
        position: absolute;
        bottom: 0;
        height: 50px;
        background: #e6e6e6;
        width: 100%;
        left: 0;
        padding: 10px;
        border-top: 1px solid #ccc;
    }
    window > footer:empty + .content { bottom: 0; }
    window > footer:empty {
        display: none;
    }
    
	window[page] {
	    width: calc(100% - 150px);
	    height: 100%;
	    right: 0;
	    border: none;
	    box-shadow: 0 0 2em rgba(0,0,0,0.4);
	}
		window[page] > header { height: 110px; }
			window[page] > header > controls { display: none; }
	    window[page] > .content { top: 110px; }
	   
	window tab {
	    
	}
		window tab tabs {
		    height: 30px;
		    display: block;
		    position: fixed;
		    top: 80px;
		    z-index: 1;
		}
			tab > tabs > button {
			    height: 100%;
			    transform: scale(0.9);
    			transform-origin: 50% 100%;
    			border-bottom: none;
    			border-radius: .3em .3em 0px 0px;
			}
				tab > tabs > button.selected {
				    transform: scale(1);
				}
pre v {
    border: 1px solid #ccc;
    background: white;
    line-height: 40px;
    display: inline-block;
    height: 40px;
    border-top: none;
    padding: 0 10px;
    border-left: none;
    width: 100%;
}
pre s, pre k, pre header {
    display: none;
}
pre p {
    display: inline-block;
    width: 160px;
    margin: 0;
    background: #f2f2f2;
    color: #1a1a1a;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-top: none;
}

/* DATA TABLES */

table .photo {
    display: inline-block;
    position: relative;
    width: 100px;
    height: 100%;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.5);
}
	table .photo span {
		display: block;
		position: absolute;
		bottom: 0;
		background: white;
		width: 20px;
		height: 20px;
		border: 1px solid;
		border-radius: 100%;
		box-shadow: 0 0 6px;
		text-align: center;
		font-size: .8em;
		font-weight: bolder;
	}

table th.sorting:hover,
table th.sorting_asc:hover,
table th.sorting_desc:hover {
    background-color: #f56b2a;
    color: white;
}
table select {
    width: 100%;
}
table.dataTable tfoot th, table.dataTable tfoot td { border: none !important; }

table.dataTable tbody tr.selected,
table.dataTable.stripe tbody tr.odd.selected,
table.dataTable.display tbody tr.odd.selected { background-color: currentColor; }

table.dataTable.display tbody tr.selected td {
    color: white;
    text-shadow: 0 1px 1px black;
}

table.dataTable.display tbody tr.odd.selected > .sorting_1, 
table.dataTable.order-column.stripe tbody tr.odd.selected > .sorting_1,
table.dataTable.display tbody tr.even.selected > .sorting_1, 
table.dataTable.order-column.stripe tbody tr.even.selected > .sorting_1 {
    background-color: rgba(0, 0, 0, 0.15);
}

table.dataTable.hover tbody tr:hover.selected, 
table.dataTable.display tbody tr:hover.selected {
	background-color: inherit;
    box-shadow: 0 0 0px 2000px rgba(0,0,0,0.3) inset;
}

table.dataTable tfoot th, table.dataTable tfoot td {
    border: none !important;
    padding: 10px 18px 10px 18px !important;
}